@model Department

@await Component.InvokeAsync("PageTitle", new { pageTitle = "Şöbələrin yeniləmək", breadcrumbs = new[] { "Şöbələr", "Şöbə yeniləmək" } })

<!-- row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Rezerv yeniləmək</h4>
            </div>
            <div class="card-body">
                <div class="form-validation">
                    <form class="form-valide" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xl-6">
                                @*<div class="form-group row">
                                <label class="col-lg-4 col-form-label">
                                <strong>Şəkil</strong>
                                <span class="text-danger">*</span>
                                </label>
                                <div class="col-lg-6">
                                <div class="custom-file">
                                <div class="custom-file">
                                <input class="custom-file-input mb-2" asp-for="Photo">
                                <span asp-validation-for="Photo" class="text-danger mt-2"></span>
                                <label class="custom-file-label">Choose file</label>
                                </div>
                                </div>
                                </div>
                                </div>*@
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">
                                        <strong>Ad</strong>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input class="form-control mb-2" asp-for="Name" placeholder="Şöbənin adı..">
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">
                                        <strong>Yaranma Tarixi</strong>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input class="form-control mb-2" placeholder="dd/mm/yyyy" asp-for="DepartmentDate">
                                        <span asp-validation-for="DepartmentDate" class="text-danger mt-2"></span>
                                    </div>
                                </div>

                            </div>
                          @* <div class="col-xl-6">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">
                                        <strong>Baş həkim</strong>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select class="form-control mb-2" name="doctorId">
                                            @foreach (Doctor doctor in ViewBag.Doctors)
                                            {
                                                <option value="@doctor.Id">@($"{doctor.FirstName} {doctor.LastName}")</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Doctors" class="text-danger mt-2"></span>
                                    </div>

                                </div>
                            </div>*@
                            <div class="col-xl-12">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">
                                        <strong>Şöbə haqqında məlumat</strong> <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-12 mt-3">
                                        <textarea class="form-control mb-2" rows="12" asp-for="Description" placeholder="Şöbə haqqında.."></textarea>
                                        <span asp-validation-for="Description" class="text-danger mt-2"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end mr-2">
                            <button type="submit" class="btn btn-primary mr-2">Təstid et</button>
                            <a asp-action="Index" class="btn btn-light">Ləğv et</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#Description'))
            .catch(error => {
                console.error(error);
            });
    </script>
}