@using Microsoft.AspNetCore.Identity;
@model ResetPasswordVM

@await Component.InvokeAsync("PageTitle", new { pageTitle = "Parolun s", breadcrumbs = new[] { "Hesablar", "Hesab əlavə edin" } })

<!-- row -->
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Hesab əlavə edin</h4>
                <div asp-validation-summary="ModelOnly"></div>
            </div>
            <div class="card-body">
                <div class="form-validation">
                    <form class="form-valide" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">
                                        <strong>Şifrə</strong>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input class="form-control mb-2" asp-for="Password" placeholder="Şifr..">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">
                                        <strong>Şifrəni təsdiqlə</strong>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input class="form-control mb-2" asp-for="ConfirmPassword" placeholder="Şifr..">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                        <div class="d-flex justify-content-end mr-2">
                            <button type="submit" class="btn btn-primary mr-2">Təstid et</button>
                            <a asp-action="Index" class="btn btn-light">Ləğv et</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

                                }